
.background{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

canvas{
  background-color: rgb(255, 255, 255);
  grid-area: a;
  border: 3px solid black;
  width:600px;
  height:600px;
  background:white;
  border-radius: 15px;
}

video{
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  width:600px;
  height:600px;
  border-radius: 15px;
  background:white;
  grid-area: y;
}

.styleB {
    color: white;
    border-radius: 15px;
    text-align: center;
    width:60px;
    height:55px;
    font-size: 25px;
    margin: 6px;
    display: block;
    grid-area: b;
    border: 3px solid black;
    background:#222;
}

.wrapper {
  display: grid;
  grid-gap: 7px;
  grid-template-areas:
   "f f f f f f"
   "x a b c e e"
   "x a b c e e"
   "x y d d d d"
   "x y d d d d"
}

.couleurs {
  padding: 10px;
  grid-area: c;
  border: 3px solid black;
  width:28px;
	height:755px;
	background:#222;
  border-radius: 15px;
}

.chatbox {
  text-align: center;
  padding: 10px;
  grid-area: e;
  border: 3px solid black;
  width:265px;
	height:600px;
	background:#222;
  border-radius: 15px;
}

.titre {
  text-align: center;
  grid-area: f;
  border: 3px solid black;
  width:1200px;
	height:75px;
	background:#222;
  border-radius: 15px;
}

.score {
  text-align: center;
  grid-area: x;
  border: 3px solid black;
  width: 200px;
	height: 600px;
	background:#222;
  border-radius: 15px;
}
